section.dishes-list
    color: $theme-dark
    background: $theme-soft
    text-align: center
    padding-top: 3rem
    padding-bottom: 3rem
    line-height: 1.4rem

    li
        margin-bottom: 0.2rem


.card-container
    //background-color: #cc99ff // temp
    //width: 100vw
    display: flex
    flex-wrap: wrap
    @media (max-width: 767px)
      flex-direction: column
      justify-content: flex-end
    @media (min-width: 768px) and (max-width: 991px)
      flex-direction: row
      justify-content: center
    @media (min-width: 992px)
      margin-left: 8vw
      margin-right: 8vw
      justify-content: space-around

.card 
    transition: all 1s
    background: #fff
    min-height: 8rem
    width: 22rem
    border-radius: 4px
    display: flex
    flex-direction: row
    border-radius: 10px
    transition: all .2s
    line-height: 1rem
    margin-bottom: 0.5rem
    @media (max-width: 767px)
        margin-left: auto
        margin-right: auto
        
    @media (min-width: 768px) and (max-width: 991px)
        min-width: 392px
    @media (min-width: 992px)
    
    p
        margin-bottom: 0    
    &:hover
        box-shadow: 5px 5px 12px rgba(34, 35, 58, 0.2)


    a
        text-decoration: none
        color: inherit

    h2 
        font-size: 1.25em
        margin: 0
        padding: 0 1rem

    h3
        font-size: 1rem
        margin-bottom: 0.2rem
        //background: pink
        text-align: left

    .desc 
        font-size: 0.7rem

    .price
        margin-top: 0.2rem

    .card-text 
        display: grid
        width: 19rem
        text-align: left


    .title-total 
        padding: 1.5em 1em 1em 1em



    .portada 
        width: 12rem
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        background-position: bottom center
        background-size: cover
    .portada-paella-valenciana
        background-image: url("../img/fotos/platos/plaza-asturias-paella.webp")
    .portada-cazuela-mariscos
        background-image: url("../img/fotos/platos/plaza-asturias-cazuela-mariscos.webp")
    .portada-parrillada
        background-image: url("../img/fotos/platos/plaza-asturias-parrillada.webp")
    .portada-suprema-plaza
        background-image: url("../img/fotos/platos/plaza-asturias-suprema.webp")
    .portada-filet-merluza-romana
        background-image: url("../img/fotos/platos/plaza-asturias-filet-merluza-romana.webp")
    .portada-mondongo-espanola
        background-image: url("../img/fotos/platos/plaza-asturias-mondongo-espanola.webp")
    .portada-super-milanesa
        background-image: url("../img/fotos/platos/plaza-asturias-super-milanesa.webp")
    .portada-sin-foto
        background-image: url("../img/fotos/platos/plaza-asturias-plato-sin-foto.webp")


