section.img-tape
    background: $theme-primary
    height: 7.5rem
    overflow: hidden
    margin: 0

    img
        margin: 0 
        height: 100%
        display: inline
        vertical-align: top
        float: none