section.secondary-cta
    background: $theme-secondary
    color: $theme-primary
    text-align: center
    padding-top: 5rem
    padding-bottom: 5rem

    p
        margin-bottom: 2rem
        margin-left: auto
        margin-right: auto
        @media (min-width: 691px)
            max-width: 26rem

    .btn-wrapper
        i.bi
            margin-right: 0.25rem
            font-size: 1.2rem
            position: relative
            top: 1px
            
    